@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto&display=swap');


body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: #F2DCD8!important; /* Soft pink background */
}

/* Initial state of the navbar-nav with opacity and visibility for smooth transitions */
.navbar-nav {
    visibility: hidden; /* Hidden but still occupies space for a smooth transition */
    opacity: 0;
    transform: translateY(-20px); /* Moves up slightly */
    transition: visibility 0s linear 0.3s, opacity 0.3s linear, transform 0.3s linear;
}

header:hover .navbar-nav {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); /* Return to normal position */
    transition: opacity 0.3s linear, transform 0.3s linear;
}

h1, h2, h3, .fancy-text {
    font-family: 'Amatic SC', cursive; /* Specific elements using Amatic SC */
}


/* sign in page */

.signin-container {
    display: flex; /* This enables flexbox layout */
    height: 100vh; /* Full view height */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.form-container {
    flex: 1; /* Takes up half of the container */
    padding: 20px;
    max-width: 500px; /* Adjust size as needed */
}

.image-container {
    flex: 1; /* Takes up half of the container */
    max-width: 500px; /* Adjust size as needed */
}

.image-container img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below the image */
}
