{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="signin-container">
        <div class="form-container">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
        <div class="image-container">
            <img src="{% static '/images/signin.png' %}" alt="Decorative Image">
        </div>
    </div>
{% endblock content %}
